<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>itwaspurple -v2</title>

    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/backbone.localStorage.js"></script>
    <script src="js/lib/jquery-ui.js"></script>
    

    <link rel="stylesheet" href="css/style.css">
    


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=PT+Mono|Libre+Baskerville|Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
    <header>
        <span>itwaspurple</span>
        <a href="https://github.com/thfield/itwaspurple/tree/gh-pages">view on Github</a>
        <a href="http://thfield.github.io/">me</a>
        <a href="bugs.html">bugs</a>
        <a href="examples.html">examples</a>
        <a href="about.html">about</a>
        <a href="itwaspurple.html">app</a>
    </header>

    <div class="wrapper clearfix">

        <div class="controls column quarter">
            <div class="">
                <img src="images/edit.png" class="edit iwpbutton" title="edit mode" />
                <img src="images/reverse.png" class="reverse iwpbutton" title="reverse" />
                <img src="images/load.png" class="load iwpbutton" title="load" />
            </div>
            <div class="plusminus">
                <img src="images/add.png" class="add iwpbutton" title="add new" />
                <img src="images/subtract.png" class="subtract iwpbutton" title="remove last" />
            </div>
            <div class="filebrowser hidden" id="filebrowser">
                <form action="#" method="POST" id="file-form">
                    <input type="image" src="images/save.png" class="save iwpbutton" title="save"></input>
                    <img src="images/load.png" class="load iwpbutton" title="load" />
                    <input type="text" name="filename" id="filename" placeholder="Filename" />
                    <div class="files">
                        <ul id="file-list"></ul>
                        <div id="messages"></div>
                    </div>
                    <div id="staging" class=""></div>
                </form>
            </div>

        </div>

        <div class="cards holder column half">

            


            <div id="cardsEnd" class="plusminus controls">
                <img src="images/add.png" class="add iwpbutton" title="add new" />
                <img src="images/subtract.png" class="subtract iwpbutton" title="remove last" />
            </div>

        </div>

        <div class="right column quarter flow-opposite hidden">
        
            <div class="trashcan holder">
                <img src="images/trash.png" class="trash iwpbutton" title="empty trash" />
            </div>

            <div class="controls">
                <img src="images/delete.png" class="delete iwpbutton" title="delete all" />
            </div>
            
        </div>


    </div>

    <script type="text/template" id="card_template">
        <div class="card-header">
            <%= title + " " + order %>
            <img src="images/delete-small.png" class="card-remove" />
            <img src="images/edit.png" class="edit-button" title="edit mode" />
        </div>
        <div class="card-body">
            <span class="card-read"><%= content %></span>
            <textarea class="card-edit" type="text"><%= content %></textarea>
        </div>
    </script>

    <script src="js/app.js"></script>
</body>

</html>